@model Portal.Models.Cours
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>@Model.name</h3>
<h4>List of Students</h4>

<table class="table table-bordered">
    <tr>

        <td>User Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Department</td>
        <td>Cgpa</td>
    </tr>
    @foreach (var s in Model.Users)
    {
        <tr>


            <td>@s.uid</td>
            <td>@s.name</td>
            <td>@s.email</td>
            <td>@s.department</td>
            <td>@s.cgpa</td>
        </tr>
    }
</table>

