@model Portal.Models.User
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "DeleteUser";
}


<div>
    <h4>Details</h4>
    <h3>Are you sure you want to delete @Model.name?</h3>
    <h5>Name: @Model.name</h5>
    <h5>Department: @Model.department</h5>
    <h5>Email: @Model.email</h5>
    <h5>Type: @Model.type</h5>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a href="/Admin/CheckUsers/" class="btn btn-default">Go Back</a>
        </div>
    }
</div>
