@model List<Portal.Models.Cours>
@{
    Layout = "~/Views/Shared/_FecultyLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Courses</h2>
<form action="/Feculty/Index" method="post" class="search-box">

    <input class="form-control" type="text" name="searchCourse" value="" placeholder="Search Courses by Name">
    <input class="btn btn-primary" type="submit" value="Search" />


</form>


<table class="table table-bordered">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>Section</th>
        <th>Time</th>
        <th></th>
    </tr>
 @foreach(var c in Model)
  {
<tr>
    <td>@c.id</td>
    <td>@c.name</td>
    <td>@c.department</td>
    <td>@c.section</td>
    <td>@c.time</td>
    <td><a href="/Feculty/Details/@c.id" class="btn btn-success">Details</a></td>
   

</tr>
  }

</table>
